.main-header .logo {
  font-family: "Montserrat", serif;
  font-weight: bold;
  font-size: 24px;
}

#action_button {
  float: center;
  text-align: center;
  
}
.col-sm-9 {
  height: 85rem;
}

.nav-tabs-custom {
  height: 100%;
}

.tab-content {
  height: 100%;
}

.tab-pane.active {
  height: 100%;
}
